@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  /* CSS HSL */
--poppy: hsla(2, 67%, 52%, 1);
--bleu-de-france: hsla(205, 100%, 48%, 1);
--pine-green: hsla(173, 71%, 28%, 1);
--celeste: hsla(174, 73%, 80%, 1);
--isabelline: hsla(40, 43%, 96%, 1);
--uranian-blue: hsla(206, 100%, 84%, 1);
}


body {
  font-family: 'JetBrains Mono', monospace;
  background: var(--isabelline);
  margin-top:3rem;
}

nav {
  display: flex;
  justify-content: end;
  padding: 0.5rem 3rem;
  position: fixed;
  top:0;
  width:100%;
  border-bottom: 1px solid black;
  background-color: var(--uranian-blue);

  & ul {
    display: flex;
    gap:2rem;
    list-style-type: none;
  }

  
  & a {
    color: inherit;
    text-decoration: none;    
  }

  & a:hover {
    font-weight: 900;
  }


}

#create-post nav {
  justify-content: start;
}

main {
  padding: 2rem;
  max-width: 600px;
  margin: auto;
}

#posts article {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  background: white;
}

/* Create Post Page: */

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--bleu-de-france);
  border-radius: 4px;
  border: 2px solid var(--bleu-de-france);
  color:white;
}

button:hover {
  background-color: var(--isabelline);
  border-color: var(--bleu-de-france);
  color: var(--bleu-de-france);
}

#message {
  margin-top: 1rem;
  color: var(--pine-green);
}